body {
    display: flex;
    color: white;
    justify-content: center;
    margin: 0;
}

.container-one {
    background-color: #1f2937;
    width: 625px;
}

.body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1900px;
    max-width: 1000px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
}
.header-logo {
    /* BOLD HEADER LOGO */
    font-weight: 600;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.title {
    font-weight: 800;
}