body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    color: white;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 750px;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.section-1 {
    background-color: #1F2937;
    flex-grow: 6;
    color: white;
    font-size: 10px;
    flex-basis: 0;

}

.section-2 {
    background-color: white;
    flex-grow: 6;
    flex-basis: 0;
}

.section-3 {
    background-color: #E5E7EB;
    flex-grow: 5;
    flex-basis: 0;
}

.section-4 {
    background-color: white;
    flex-grow: 4;
    flex-basis: 0;
}

.section-5 {
    background-color: #1F2937;
    flex-grow: 1;
    flex-basis: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    font-weight: 900;
    font-size: 14px;
}

.header-links {
    color: lightgray;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
}

.container-2 {
    display: flex;
    flex-grow: 1;
    gap: 12px;
}

.container-2 .body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    gap: 8px;

}

.container-2 .image-placeholder {
    flex-grow: 1;
    flex-basis: 0;
    align-content: center;
    align-self: center;
    text-align: center;
    width: auto;
    height: 150px;
    background-color: gray;
}

.body .title {
    font-weight: 900;
    font-size: 32px;
}

.body .text {
    color: lightgray;
}

button {
    background-color: rgb(117, 166, 222);
    color: white;
    font-size: 10px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;


}